body {
  font-family: sans-serif;
  background-image: url("https://media.discordapp.net/attachments/635785339981660173/643394933386117141/image0.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3 {
font-style: italic;
  color: #00f;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.left {
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 7%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
